/* ============================= */
/* 🎨 SKYFER DESIGN TOKENS */
/* ============================= */

@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--font-lobster: "Lobster", cursive;

	--color-primary: #be185d;
	--color-secondary: #6b21a8;
	--color-bg-soft: #f3f4f6;
}



.container {
	@apply max-w-7xl mx-auto;
}

body {
	@apply bg-bg-soft font-poppins text-gray-800;
}

::selection {
	@apply bg-pink-200 text-pink-600;
}
