/* ============================= */
/* 🎨 SKYFER DESIGN TOKENS */
/* ============================= */

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-lobster: "Lobster", cursive;
  
  --color-primary: #DB2777;
  --color-secondary: #7c3aed;
  --color-skyfer-violet: #6C63FF;


  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-danger: #EF4444;

  --color-border: #E5E7EB;
  --color-bg-soft: #F3f4f6;

  --color-soft-blue: #E0F2FE;
  --color-soft-green: #DCFCE7;
  --color-soft-purple: #F3E8FF;
}

.container{
    @apply max-w-7xl mx-auto px-6 py-4 
}

body{
  @apply bg-bg-soft font-poppins text-gray-800
}

::selection {
  @apply bg-pink-200 text-pink-600
}

